<p id="notice"><%= notice %></p>

<h2>Treatments</h2>

<%= link_to 'New Treatment', new_treatment_path, class: "btn btn-primary" %>

<table class = "table">
  <thead>
    <tr>
      <th>Part Number</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Supplier</th>
      <th>Date Sent</th>
      <th>Date Due Back</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @treatments.each do |treatment| %>
      <tr>
        <td><%= link_to treatment.part_number, edit_treatment_path(treatment) %></td>
        <td><%= treatment.description %></td>
        <td><%= treatment.quantity %></td>
        <td><%= treatment.supplier %></td>
        <td><%= treatment.date_sent %></td>
        <td><%= treatment.date_due_back %></td>
        <td><%= link_to 'Received', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


