<% @title = "OD Dbase - Parts outstanding for orders" %>

<h3>All outstanding parts</h3>

<table class = "table">
    <thead>
        <tr>
            <th>Part number</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th></th>
        </tr>
    </thead>

    
    <tbody>
        <% @parts.each do |part| %>
        
        <tr>    
            <td><%= part.part_number %></td>
            <td><%= part.description %></td>
            <td><%= part.quantity %></td>
            <td><%= part.supplier %></td>
            <td><%= link_to 'Remove from list', part_path(part), method: :delete, data: { confirm: 'Are you sure?' }, class: "link_to" %></td>
        </tr>
    </tbody>
    
<% end %>

</table>