<p id="notice"><%= notice %></p>

<h2>Ordered parts</h2>

<%= link_to 'Back to outstanding', low_stocks_path, class: "btn btn-primary" %>

<table class = "table">
  <thead>
    <tr>
      <th>Part Number</th>
      <th>Description</th>
      <th>Stock Qty</th>
      <th>Required Qty</th>
      <th>Entered By</th>
      <th>Date ordered</th>
    </tr>
  </thead>

  <tbody>
    <% @low_stocks.each do |low_stock| %>
      <% if low_stock.completed_at.present? %>
        <tr>
          <td><%= low_stock.part_number %></td>
          <td><%= low_stock.description %></td>
          <td><%= low_stock.quantity_in_stock %></td>
          <td><%= low_stock.quantity_required %></td>
          <td><%= low_stock.user.email.chomp("@opendate.co.uk").gsub(".", " ").split(" ")[0].camelize %></td>
          <td><%= low_stock.completed_at %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>