
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class = "jumbotron">
    
    <%= f.label :order_number %></br>
    <%= f.text_field :order_number %></br>
    
    <%= f.label :customer %></br>
    <%= f.text_field :customer %></br>
    
    <%= f.label :region %></br>
    <%= f.select :region, Region.all.map { |f| f.region } %></br>
    
    <%= f.label :printer %></br>
    <%= f.select :printer, Printer.all.map { |f| f.name } %></br>
    
    <%= f.label :quantity %></br>
    <%= f.text_field :quantity %></br>
    
    <%= f.label :order_date %></br>
    <%= f.date_field(:order_date) %></br>
    
    <%= f.label :due_date %></br>
    <%= f.date_field(:due_date) %></br>
    
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>