<% @title = "OD Dbase - Shipped orders" %>

<p id="notice"><%= notice %></p>

<div class = "title-spacing">
  <h2>Shipped Orders</h2>
</div>

<%= link_to 'Outstanding Orders', orders_path, class: "btn btn-primary" %>

<table class = "table">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Customer</th>
      <th>Printer</th>
      <th>Quantity</th>
      <th>Order Date</th>
      <th>Shipped Date</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
        <% if order.completed_at.present? %>
          <tr>
            <td><%= order.order_number %></td>
            <td><%= order.customer %></td>
            <td><%= order.printer %></td>
            <td><%= order.quantity %></td>
            <td><%= order.order_date %></td>
            <td><%= order.completed_at %></td>
            <td><%= order.notes %></td>
            <td><%= link_to 'Edit shipped machine details', edit_order_path(order), class: "link_to" %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>