<% @title = "OD Dbase - Outstanding orders" %>

<p id="notice"><%= notice %></p>

<h2>Outstanding Orders</h2>

<%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>

<table class = "table">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Customer</th>
      <th>Printer</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Order Date</th>
      <th>Due Date</th>
      <th>Parts Remaining</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.order_number, order %></td>
        <td><%= link_to order.customer, order %></td>
        <td><%= order.printer %></td>
        <td><%= order.quantity %></td>
        <td><%= order.status %></td>
        <td><%= order.order_date %></td>
        <td><%= order.due_date %></td>
        <td><%= order.parts.count %></td>
        <td><%= link_to 'Edit order', edit_order_path(order) %></td>
        <td><%= link_to 'Shipped', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>