<% @title = "OD Dbase - Outstanding orders" %>

<p id="notice"><%= notice %></p>

<div class = "title-spacing">
  <h2>Outstanding Orders</h2>
</div>

<%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>


<table class = "table">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Customer</th>
      <th>Printer</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Order Date</th>
      <th>Due Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <% if order.completed_at.blank? %>
        <tr>
          <td><%= order.order_number %></td>
          <td><%= order.customer %></td>
          <td><%= order.printer %></td>
          <td><%= order.quantity %></td>
          <td><%= order.status %></td>
          <td><%= order.order_date %></td>
          <td><%= order.due_date %></td>
          <td><%= link_to 'Edit order', edit_order_path(order), class: "link_to" %></td>
          <td><%= link_to 'Shipped', complete_order_path(order), method: :patch, class: "link_to" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>