<% @title = "OD Dbase - Order details" %>

<p id="notice"><%= notice %></p>

<h3>Order details</h3>

<ul class = "list-group">
    <li><strong>Customer:</strong>           <%= @order.customer %>, <%= @order.region %></li>
    <li><strong>Order number:</strong>       <%= @order.order_number %></li>
    <li><strong>Printer:</strong>            <%= @order.quantity %> x <%= @order.printer %></li>
    <li><strong>Status:</strong>             <%= @order.status %></li>
    <li><strong>Order date:</strong>         <%= @order.order_date %></li>
    <li><strong>Due date:</strong>           <%= @order.due_date %></li>
    <li><strong>Notes:</strong>              <%= @order.notes %></li>
</ul>

<h3>Parts needed for completion</h3>

<%= link_to 'Add a new part', new_order_part_path(@order), class: "btn btn-primary", class: "link_to" %>

<table class = "table">
    <tr>
        <th>Part number</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Supplier</th>
    </tr>
    
    <% @order.parts.each do |f| %>
    
    <tr>
        <td><%= f.part_number %></td>
        <td><%= f.description %></td>
        <td><%= f.quantity %></td>
        <td><%= f.supplier %></td>
    </tr>
    
    <% end %>
    
</table>