<% @title = "OD Dbase - Loans outstanding" %>

<p id="notice"><%= notice %></p>

<h2>Loans outstanding</h2>

<%= link_to 'New loan entry', new_loan_path, class: "btn btn-primary" %><%= link_to 'Loan machines in stock', loans_stock_path, class: "btn btn-primary" %></br>

<table class = "table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Printer</th>
      <th>Serial number</th>
      <th>Power supply</th>
      <th>Serial number</th>
      <th>Shipped date</th>
      <th>Details</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  
      <% @loans.each do |loan| %>
        <% if loan.shipped_date.present? %>
          <tr>
            <td><%= loan.customer %></td>
            <td><%= loan.printer %></td>
            <td><%= loan.serial_number %></td>
            <td><%= loan.psu_type %></td>
            <td><%= loan.psu_serial_number %></td>
            <td><%= loan.shipped_date %></td>
            <td><%= loan.details %></td>
            <td><%= link_to 'Edit', edit_loan_path(loan), class: "link_to" %></td>
          </tr>
        <% end %>
      <% end %>
      
  </tbody>
</table>