<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Open Date DB', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Loans', loans_path %></li>
        <li><%= link_to 'Outstanding parts', parts_all_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Outstanding orders<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'USA', orders_by_region_path(:region => 'USA') %></li>
            <li><%= link_to 'France', orders_by_region_path(:region => 'France') %></li>
            <li><%= link_to 'Germany', orders_by_region_path(:region => 'Germany') %></li>
            <li><%= link_to 'UK', orders_by_region_path(:region => 'UK') %></li>
            <li><%= link_to 'Export', orders_by_region_path(:region => 'Export') %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to 'All', orders_path %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
